!***********************************************************
!提醒:1.水單與電文單據系統統一擺到最前面
!     2.登錄單據系統統一放最後面
!
! 印表共用
!-----------------------------------------------------------
! PRTHEAD 表頭變數宣告(輸出共用變數宣告區)
!-----------------------------------------------------------
! FM01    登錄單
! FM001   登錄單(XT)
! FMV01   審核單
! FMR01   放行單
! FMH01   登錄更正單
! FMHR01  放行更正單
!---------------------------------------
! FM101   交易分錄清單 rtn,form,tom,sel
!---------------------------------------
! MT001   SWIFT電文
! MT002   SWIFT電文
!---------------------------------------
! UPD01   登錄單     --- print screen
! UPDH01  登錄更正單 --- print screen
! UPD02   登錄單     --- 內容自定
! UPDH02  登錄更正單 --- 內容自定
!---------------------------------------
! INQ01   查詢單
!---------------------------------------
! PON01  議價成交單
!***********************************************************
!===========================================================
! 表頭變數宣告
!===========================================================
!----- type="RTN" 輸出共用變數宣告區 -----
<PRTHEAD.rtn>

!系統清除使用之變數
!SFORMNAME$->供DB2儲存名稱&指定印表機時之名稱
!TITLE1$->PDF套表
#SYSTEAMCLEAN=X,1,S
T(3,)
ASGN(SFORMNAME$)
ASGN(SPDFFORM$)
ASGN(SEDITFORM$)
ASGN(TITLE$)

![帳務序號]
#TXTNO=A,8,S
T(4,TXTNO$)

![洗錢防制法記號]
#MLDRY=A,1,S
!T(4,MLDRY$)

![洗錢防制法記號-中文說明]
#MLDRYX=X,2,S
C(3,#MLDRY,1,T(3,洗),T(3,  ))

![判斷為登OR審OR放]
#ACTFGXX=X,2,S
C(2,#ACTFG,T(3,  ),T(3,登),T(3,放),T(3,審),T(3,放),T(3,登),T(3,放),S,S,T(3,途))

![民國年營業日]
#SYSDATE7=D,7,S
T(1,#SYSDATE,2,7)


![中心TOTA系統時間]8位
#SYSTIME1=A,8,S
T(4,CALTM$)

![系統時間]6位
#SYSTIME=A,6,S
T(1,#SYSTIME1,1,6)

![核可主管]
#SUPNM=X,12,S
T(4,SUPNM$)
!T(2,主管+#SUPNM)
!T(2,#SUPNM)

![登錄/放行序號]
#RELNOO=X,18,S
C(2,#HCODE,C(2,#ACTFG,S,T(2,#KINBR+#TLRNO+#TXTNO),T(4,RELNO$),T(4,RELNO$),T(4,RELNO$),T(2,#KINBR+#TLRNO+#TXTNO),T(4,RELNO$),S,S,T(4,RELNO$)),
           T(4,RELNO$),
           T(4,RELNO$))

![更正印EC]
#HCODEX=X,2,S
C(2,#HCODE,T(3,  ),T(3,EC),T(3,  ))

![欄位中文名稱]
#BNAMM=X,36,S
T(1,#BNAM,1,36)

![表頭民國年日曆日]
#H_SYSCDATE=D,7,S
T(1,#SYSCDATE,2,7)

![表頭單位名稱]
#H_BNAMM=X,10,S
T(1,#BNAM,1,10)
! T(1,#BNAM,26,10)

![表頭交易序號]
#H_TXTNO=A,8,S
T(2,#TXTNO)

![表頭員工編號]
#H_TLRNO=X,6,S
IF(#ACTFG > 1,T(2,#EMPNOT),T(2,#TLRNO))

![表頭員工名稱]
#H_EMPNM=X,8,S
IF(#ACTFG > 1,T(2,#ORGEMPNM),T(2,#EMPNM))

![表頭主管編號]
#H_EMPNOS=X,6,S
IF(#ACTFG > 1,T(2,#TLRNO),T(2,#EMPNOS))

![表頭主管名稱]
#H_SUPNM=X,8,S
IF(#ACTFG > 1,T(2,#EMPNM),T(1,#SUPNM,1,8))

!-----------------------------------------------------------
#TXFORM=X,5,S
T(4,TXFORM$)

![交易TITLE]
#SCRTIL=X,100,S


!----- 交易登錄單及更新類交易印表(二擇一) -----
![交易登錄列印記號] 1.登錄單, 2.放行單, 3.登錄更正, 4.放行更正
#SCRPRT=A,1,S
E(0,0)
!C(5,#TXFORM,#TXCD,$,S)
!C(2,#HCODE,C(2,#ACTFG,S,E(0,1),E(0,2),E(0,1),E(0,2),E(0,1),E(0,2),S,S,E(0,2)),
!           C(2,#ACTFG,S,E(0,3),E(0,4),E(0,3),E(0,4),E(0,3),E(0,4),S,S,E(0,3)),
!           C(2,#ACTFG,S,E(0,1),S,S,S,E(0,1)))

![更新類交易印表記號] 0:不印、1:印表(登錄單)、2:印表(登錄更正單)
#PRTSCRFG=A,1,S
! E(0,1)
C(5,#TXFORM,#TXCD,E(0,1),E(0,0))
!C(3,#SCRPRT,0,$,S)
!C(2,#HCODE,C(5,#TXFORM,#TXCD,E(0,1),E(0,0)),
!           C(5,#TXFORM,#TXCD,E(0,1),E(0,0)),
!           C(5,#TXFORM,#TXCD,E(0,1),E(0,0)))

![審核單變數]
#VSCRPRT=A,1,S
C(2,#HCODE,C(3,#ACTFG,3,E(0,1),S))


![印去電電文稿記號] 1:印表、0:不印
#MT001PRT=A,1,S
C(5,#TXFORM,MT001,E(0,1),E(0,0))

#MT002PRT=A,1,S
C(5,#TXFORM,MT002,E(0,1),E(0,0))

#MT003PRT=A,1,S

</PRTHEAD.rtn>



!===========================================================
! 登錄單－第６行（要加＾）
!===========================================================
<FM01.sel>
#SCRPRT=1,FM01,NA,{must},{dup},15,6,{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#MLDRYX#ACTFGXX#KINBR#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATE7#SYSTIME#RELNOO#HCODEX^
</FM01.sel>

<FM001.sel>
#SCRPRT=1,FM001,NA,{must},{dup},15,6,{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#MLDRYX#ACTFGXX#KINBR#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#RELNOO#HCODEX^
</FM001.sel>

!===========================================================
! 放行單－第７行（要加＾）
!===========================================================
<FMR01.sel>
#SCRPRT=2,FMR01,NA,{must},{dup},15,6,{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#ORGTLR#TXTNO#ORGEMPNM#EMPNM#SYSDATE7#SYSTIME#RELNOO#HCODEX^
</FMR01.sel>


!===========================================================
! 登錄更正－第９行（要加＾）
!===========================================================
<FMH01.sel>
#SCRPRT=3,FMH01,NA,{must},{dup},15,6,{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATE7#SYSTIME#RELNOO#HCODEX^
</FMH01.sel>


!===========================================================
! 放行更正－第８行（要加＾）
!===========================================================
<FMHR01.sel>
#SCRPRT=4,FMHR01,NA,{must},{dup},15,6,{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATE7#SYSTIME#RELNOO#HCODEX^
</FMHR01.sel>

!===========================================================
! 審核單－第９行（要加＾）
!===========================================================
<FMV01.sel>
#VSCRPRT=1,FMV01,NA,{must},{dup},15,6,{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#RELNOO#HCODEX^
</FMV01.sel>

!===========================================================
! 1:印表、0:不印/表格瀏覽（要加＾）
!===========================================================
!===========================================================
! 更新類交易表頭宣告變數 UPD01.PFN---print screen (一般)
!===========================================================
<UPD01.sel>
#PRTSCRFG=1,UPD01,NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#H_BNAMM#H_TLRNO#H_TXTNO#H_EMPNM#H_EMPNOS#H_SUPNM#H_SYSCDATE#SYSTIME#HCODEX^
</UPD01.sel>

!===========================================================
! 更新類交易表頭宣告變數 UPD01.PFN---print screen (更正)
!===========================================================
<UPDH01.sel>
#PRTSCRFG=2,UPD01,NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#H_BNAMM#H_TLRNO#H_TXTNO#H_EMPNM#H_EMPNOS#H_SUPNM#H_SYSCDATE#SYSTIME#HCODEX^
</UPDH01.sel>

!===========================================================
! 更新類交易表頭宣告變數 UPD02.PFN---PFN自定 (一般)
!===========================================================
<UPD02.sel>
#PRTSCRFG=1,UPD02+1+{i},NA,{must},{dup},{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATE7#SYSTIME#HCODEX
</UPD02.sel>

!===========================================================
! 更新類交易表頭宣告變數 UPD02.PFN---PFN自定 (更正)
!===========================================================
<UPDH02.sel>
#PRTSCRFG=2,UPDH02+1+{i},NA,{must},{dup},{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATE7#SYSTIME#HCODEX
</UPDH02.sel>

!===========================================================
! 更新類交易表頭宣告變數 UPD03.PFN---PFN自定 (一般)
!===========================================================
<UPD03.sel>
#PRTSCRFG={j},UPD02+1+{i},NA,{must},{dup},{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATE7#SYSTIME#HCODEX
</UPD03.sel>

!===========================================================
! 更新類交易表頭宣告變數 UPD04.PFN---PFN自定 (一般)
!===========================================================
<UPD04.sel>
#PRTSCRFG={j},UPD03+1+{i},NA,{must},{dup},{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#HCODEX
</UPD04.sel>

<UPD05.sel>
#PRTSCRFG=1,UPD05,NA,{must},{dup},{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATE7#SYSTIME#HCODEX
</UPD05.sel>

!===========================================================
! 更新類交易表頭宣告變數 UPD06.PFN---print screen (必印)
!===========================================================
<UPD06.sel>
#PRTSCRFG=1,UPD01,NA,M,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#HCODEX^
</UPD06.sel>

!===========================================================
! 更新類交易表頭宣告變數 UPD06.PFN---print screen (必印)
!===========================================================
<UPDH06.sel>
#PRTSCRFG=2,UPDH01,NA,M,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#HCODEX^
</UPDH06.sel>

!===========================================================
! 更新類交易表頭宣告變數 UPD07.PFN---PFN自定(必印)
!===========================================================
<UPD07.sel>
#PRTSCRFG={j},UPD02+1+{i},NA,M,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#HCODEX
</UPD07.sel>

!===========================================================
! 更新類交易表頭宣告變數 UPD08.PFN---print screen (一般) 表頭不用'A4'，改成TITAL1$自訂
!===========================================================
<UPD08.sel>
#PRTSCRFG=1,UPD08,NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#ACTFGXX#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATE7#SYSTIME#HCODEX^
</UPD08.sel>


!===========================================================
! 查詢類交易表頭宣告變數 INQHD.PFN
!===========================================================
<INQ01.sel>
#RPTFG=1,INQ01+1+{i},NA,{must},{dup},{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#H_BNAMM#TLRNO#EMPNM#H_SUPNM#H_SYSCDATE#SYSTIME
</INQ01.sel>

!===========================================================
! 查詢類交易表頭宣告變數 INQHD.PFN
!===========================================================
<INQ02.sel>
#RPTFG={j},INQ01+1+{i},NA,{must},{dup},{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME
</INQ02.sel>

!===========================================================
! 查詢類交易表頭宣告變數 INQ03.PFN---PFN自定 (一般)
!===========================================================
<INQ03.sel>
#RPTFG={j},INQ01+1+{i},NA,{must},{dup},{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME
</INQ03.sel>

!===========================================================
! 查詢類交易表頭宣告變數 INQ04.PFN---PFN自定 (一般)
! 列印參數已被定義過，請照原先設定的變數，不重複定義
!===========================================================
<INQ04.sel>
#RPTFG={j},INQ01+1+{i},NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME
</INQ04.sel>

!===========================================================
! 放款查詢類交易［套表列印］表頭宣告變數 INQXL01.PFN
! INQXL01.PFN 只放變動欄位
!===========================================================
<INQXL01.sel>
#RPTFG=2,INQXL01+1+{i},NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME
</INQXL01.sel>

!===========================================================
! 議價成交單
! 一般即期/二日買賣部位成交單(登錄/變更)B-FOR 非財務部
!===========================================================
<PON01.sel>
#PON01FG=1,PON01,NA,{must},D,15,6,{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME
#PON01_VALFGX#PON01_BRNO#PON01_BRNOX#PON01_CRDAY#PON01_PONO#PON01_CRTIM1#PON01_CRTIM2#PON01_CRTIM3#PON01_CURCDEN
#PON01_STDAY#PON01_APTYP#PON01_BSCDNUM#PON01_TXAMT#PON01_NTTXAMT#PON01_CRATE#PON01_XRATE#PON01_CIFKEY#PON01_PLAMT
#PON01_FAVAMT#PON01_CNYFG#PON01_CNYFGX#PON01_LEMPNO^
</PON01.sel>

! ===========================================================
! 交易分錄清單  FM101
! ===========================================================
<FM101.rtn>

#FM101PRT=A,1,S
C(5,#TXFORM,FM101,E(0,1),E(0,0))


![資料表頭(HEADER)長度]
#FM101HD=n,3,S
C(5,#TXFORM,FM101,$,S)E(0,210)ASGN(INQHD$)

![每筆明細(OCCURS)長度]
#FM101LN=n,3,S
C(5,#TXFORM,FM101,$,S)E(0,119)ASGN(INQLEN$)

![每張印錄單列印的筆數]
#FM101QPRT=n,2,S
C(5,#TXFORM,FM101,$,S)E(0,30)ASGN(INQPRT$)

![畫面顯示的明細間的高度]
#FM101LOOP=n,3,S
C(5,#TXFORM,FM101,$,S)E(0,1)ASGN(LOOPHEIGHT$)

</FM101.rtn>
!-----------------------------------------------------------
<FM101.form>

![/]
#FM101_SALSH=X,1,S
T(3,/)

![-]
#FM101_DASH=X,1,S
T(3,-)

!------ TOM(HEAD)   Variables (FOR OUTPUT SCREEN) ------
#SCRPRT=_,_,S
E(0,0)

![會計日期]
#FM101_AcDate=A,7,O

![經辦]
#FM101_TitaTlrNo=X,6,O

![登放序號]
#FM101_RelTxseq=X,18,O

![核可主管]
#FM101_TitaSupNo=X,6,O

![交易代號]
#FM101_TitaTxCd=X,5,O

![交易代號-中文] -> TxCtrl
#FM101_TitaTxCdX=X,60,O

![交易狀態-登錄/放行]
#FM101_EntAc=A,1,S

#FM101_EntAcX=X,6,O
C(2,#FM101_EntAc,T(3,未放行),T(3,已入帳),T(3,已沖正),T(3,沖正),T(3,訂正))

![傳票摘要]
#FM101_SlipNote=X,80,O

![傳票批號]
#FM101_SlipBatNo=A,2,O

![業務類別]
#FM101_TitaSecNo=X,2,O

![業務類別-中文]
#FM101_TitaSecNoX=x,10,O

![帳冊別]
#FM101_AcBookCode=X,3,O
![帳冊別-中文]
#FM101_AcBookCodeX=x,10,O

! ![交易狀態-?段式]
! #FM101_TitaRelCd=A,1,S

! #FM101_TitaRelCdX=X,6,O
! C(2,#FM101_TitaRelCd,T(3,TitaRelCd=0),T(3,一段式),T(3,二段式),T(3,三段式))


!------ TOM(OCCURS) Variables (FOR OUTPUT SCREEN) ------
#FM101_LOOP=A,1,S
E(0,1)ASGN(LOOP$)
![戶號]
#FM101_CustNo=A,7,O

![額度]
#FM101_FacmNo=A,3,O

![撥款]
#FM101_BormNo=A,3,O

![彙總別]
#FM101_SumNo=X,3,O
![彙總別]
#FM101_SumNoX=X,20,O
T(A,#FM101_SumNo,L6DEF,RepayCodeDef,RepayCode,SumNoX)

![科子細目]
#FM101_AcNoCode=X,17,O

![更正記號]
#FM101_AcDtlCode=X,2,O

![科子目名稱]
#FM101_AcNoCodeX=X,40,O

![帳冊別]
#FM101_AcSubBookCode=X,3,O
![帳冊別-中文]
#FM101_AcSubBookCodeX=x,10,O

![幣別]
#FM101_CurrencyCode=X,3,O

![借方金額]
#FM101_DbAmt=m,14,O

![貸方金額]
#FM101_CrAmt=m,14,O

</FM101.form>

<FM101.tom>
TXFORM=FM101
{INQHD$=210;INQLEN$=119;LOOPHEIGHT$=1;INQREC$=30;INQPRT$=30}
#FM101_AcDate
#FM101_TitaTlrNo
#FM101_RelTxseq
#FM101_TitaSupNo
#FM101_TitaTxCd
#FM101_TitaTxCdX
#FM101_EntAc
#FM101_SlipNote
#FM101_SlipBatNo
#FM101_TitaSecNo
#FM101_TitaSecNoX
#FM101_AcBookCode
#FM101_AcBookCodeX

#FM101_CustNo
#FM101_FacmNo
#FM101_BormNo
#FM101_SumNo
#FM101_AcNoCode
#FM101_AcDtlCode
#FM101_AcNoCodeX
#FM101_AcSubBookCode
#FM101_AcSubBookCodeX
#FM101_CurrencyCode
#FM101_DbAmt
#FM101_CrAmt
^
</FM101.tom>

<FM101.sel>
!字距CPI=15,行距LPI=8
#FM101PRT=1,FM101,NA,{must},D,15,6,{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#FM101_AcDate
#FM101_TitaTlrNo
#FM101_RelTxseq
#FM101_TitaSupNo
#FM101_TitaTxCd
#FM101_TitaTxCdX
#FM101_EntAc
#FM101_EntAcX
#FM101_SlipNote
#FM101_SlipBatNo
#FM101_TitaSecNo
#FM101_TitaSecNoX
#FM101_AcBookCode
#FM101_AcBookCodeX
%
#FM101_CustNo
#FM101_FacmNo
#FM101_BormNo
#FM101_SumNo
#FM101_SumNoX
#FM101_AcNoCode
#FM101_AcDtlCode
#FM101_AcNoCodeX
#FM101_AcSubBookCode
#FM101_AcSubBookCodeX
#FM101_CurrencyCode
#FM101_DbAmt
#FM101_CrAmt
@^
</FM101.sel>

!---------- TXFORM = MT001 ---------------------------------暫時移除 tota-mode="1"
!!<sub type="FORM" name="MT001" handler="formProcessor,cmd=print-single;var_msg_type=#MT001_MSGTYP;var_data=#MT001_DATA;from_data=bindtota" >
<MT001.form>
#SCRTIL=_,_,S
T(3,SWIFT 電文)

#MT001_FTBSDY=A,8,S

#MT001_BRNO=A,4,S

#MT001_MSGTYP=X,4,S

#MT001_T1=X,2,S
T(3,MT)

#MT001_T2=X,5,S
T(2,#MT001_T1+#MT001_MSGTYP)
ASGN(TITLE$)


#MT001_ENTSEQ=A,6,S

#MT001_SENDINGTID=X,12,S

#MT001_SBKNAM1=X,35,S

#MT001_SBKNAM2=X,35,S

#MT001_SBKADR1=X,35,S

#MT001_SBKADR2=X,35,S

#MT001_MSGTYPE=X,4,S
T(2,#MT001_MSGTYP)

#MT001_MSGTYP3=X,3,S
T(1,#MT001_MSGTYPE,1,3)

#MT001_MSGTYP4=X,1,S
T(1,#MT001_MSGTYPE,4,1)

#MT001_MSGTYPX=X,55,S
C(5,#MT001_MSGTYP4,+,T(A,#MT001_MSGTYPE,HXDEF,MSGTYPDEF,MSGTYP,MSGTYPX),T(A,#MT001_MSGTYP3,HXDEF,MSGTYPDEF,MSGTYP,MSGTYPX))

#MT001_PRI=X,2,S

#MT001_PRIX=x,55,S
T(A,#MT001_PRI,HXDEF,PRIDEF,PRI,PRIX)

#MT001_SNDSTA=A,2,S

#MT001_VERNO=A,2,S

#MT001_DEST=X,11,S

#MT001_DBKNAM1=X,35,S

#MT001_DBKNAM2=X,35,S

#MT001_DBKADR1=X,35,S

#MT001_DBKADR2=X,35,S

#MT001_FISC=A,1,S

#MT001_FISCX=X,30,S
IF(#MT001_MSGTYP3=="104" || #MT001_MSGTYP3=="192" || #MT001_MSGTYP3=="198",S,C(3,#MT001_FISC,0,S,T(3,FIN Copy Service : TWP)))

#MT001_DATA=x,12000,S

#MT001_QUEUENAME=X,12,O
T(A,#MT001_SNDSTA,HXDEF,SNDSTADEF,SNDSTA,SNDSTAX)

#MT001_D1=X,1,S
T(2,-)

#MT001_KEYNAME=X,25,S
T(2,#MT001_BRNO+#MT001_D1+#MT001_FTBSDY+#MT001_D1+#MT001_MSGTYP+#MT001_D1+#MT001_ENTSEQ)

#SWIFT_TEXT_PRT=x,12000,S
#SWIFT_DEST=x,12,S
#SWIFT_SENDINGTID=x,12,S

#SCRPRT=_,_,S
E(0,8)

</MT001.form>

!-----------------------------------------------------------
!請同步維護MT001P.tom，XT90B使用
<MT001.tom>
TXFORM=MT001
#MT001_FTBSDY
#MT001_BRNO
#MT001_MSGTYP
#MT001_ENTSEQ
#MT001_SENDINGTID
#MT001_DEST
#MT001_PRI
#MT001_SNDSTA
#MT001_VERNO
#MT001_SBKNAM1
#MT001_SBKNAM2
#MT001_SBKADR1
#MT001_SBKADR2
#MT001_DBKNAM1
#MT001_DBKNAM2
#MT001_DBKADR1
#MT001_DBKADR2
#MT001_FISC
#MT001_DATA
^
</MT001.tom>

!-----------------------------------------------------------
!有無需要 M??
<MT001.sel>
#MT001PRT=1,MT001.PFNX,NZ,,{dup},12,6,{odby},850:1100,{marg},{pdf},{landscape},{edit},{editAll},{printNo}
^
</MT001.sel>
!-----------------------------------------------------------
<MT001P.tom>
TXFORM={i}
#MT001_FTBSDY
#MT001_BRNO
#MT001_MSGTYP
#MT001_ENTSEQ
#MT001_SENDINGTID
#MT001_DEST
#MT001_PRI
#MT001_SNDSTA
#MT001_VERNO
#MT001_SBKNAM1
#MT001_SBKNAM2
#MT001_SBKADR1
#MT001_SBKADR2
#MT001_DBKNAM1
#MT001_DBKNAM2
#MT001_DBKADR1
#MT001_DBKADR2
#MT001_FISC
#MT001_DATA
^
</MT001P.tom>

!---------- TXFORM = MT002 ---------------------------------
!!<sub type="FORM" name="MT002" tota-mode="1" handler="formProcessor,cmd=print-single;var_msg_type=#MT002_MSGTYP;var_data=#MT002_DATA;var_prefix=***" >
<MT002.form>
#SCRTIL=_,_,S
T(3,SWIFT 電文)

#MT002_BRNO=X,4,S
#MT002_FTBSDY=A,8,S
#MT002_MSGTYP=X,4,S
#MT002_ENTSEQ=A,6,S
#MT002_RCVSTA=A,2,S
#MT002_ERRSRN=X,6,S
#MT002_VERNO=X,2,S
#MT002_SEND=X,12,S
#MT002_DEST=X,12,S
#MT002_SBKNAM1=X,35,S
#MT002_SBKNAM2=X,35,S
#MT002_SBKADR1=X,35,S
#MT002_SBKADR2=X,35,S
#MT002_DBKNAM1=X,35,S
#MT002_DBKNAM2=X,35,S
#MT002_DBKADR1=X,35,S
#MT002_DBKADR2=X,35,S
#MT002_SESNO=A,4,S
#MT002_SEQNO=A,6,S
#MT002_MOR=X,33,S
#MT002_CIR=X,33,S
#MT002_PDE=A,1,S
#MT002_PDM=A,1,S
#MT002_AUTH=A,1,S

#MT002_FISC=X,1,S
#MT002_FISCX=X,30,S
C(5,#MT002_FISC,1,T(3,FIN Copy Service : TWP),S)

#MT002_TOBOX=A,2,S
#MT002_CUBOX=A,2,S
#MT002_DATA=x,10000,S

!柯:新增此欄位
#MT002_D1=X,1,S
T(2,-)

!柯:更改#D1 -> #MT002_D1
#MT002_KEYNAME=X,25,S
T(2,#MT002_BRNO+#MT002_D1+#MT002_FTBSDY+#MT002_D1+#MT002_MSGTYP+#MT002_D1+#MT002_ENTSEQ)

#MT002_MSGTYP3=X,3,S
T(1,#MT002_MSGTYP,1,3)

#MT002_MSGTYP4=X,1,S
T(1,#MT002_MSGTYP,4,1)

#MT002_MSGTYPX=X,55,S
C(5,#MT002_MSGTYP4,+,T(A,#MT002_MSGTYP,XWDEF,MSGTYPDEF,MSGTYP,MSGTYPX),T(A,#MT002_MSGTYP3,XWDEF,MSGTYPDEF,MSGTYP,MSGTYPX))

#MT002_MSGPR=X,2,S
#MT002_MSGPRX=x,55,O
T(A,#MT002_MSGPR,XWDEF,PRIDEF,PRI,PRIX)

#MT002_DUPX=X,60,S
T(3, )
C(3,#MT002_PDE,1,T(3,*****PDE注意電文可能重複，切勿重複解款或處理******),$)
C(3,#MT002_PDM,1,T(3,*****PDM注意電文可能重複，切勿重複解款或處理******),$)

#MT002_AUTHX=X,10,S
C(2,#MT002_AUTH,T(3,Unknown),T(3,Success),T(3,Fail),T(3,Unknown))

#MT002_QUEUENAME=X,26,S
T(A,#MT002_RCVSTA,XWDEF,RCVSTADEF,RCVSTA,RCVSTAX)

#MT002_CHOICEE=X,20,S
T(3,Copy Printing)

#SWIFT_TEXT_PRT=_,_,S
#SWIFT_DEST=_,_,S
#SWIFT_SENDINGTID=_,_,S

#SCRPRT=_,_,S
E(0,8)

</MT002.form>

!-----------------------------------------------------------
<MT002.tom>
TXFORM=MT002
#MT002_BRNO
#MT002_FTBSDY
#MT002_MSGTYP
#MT002_ENTSEQ
#MT002_RCVSTA
#MT002_MSGPR
#MT002_ERRSRN
#MT002_VERNO
#MT002_SEND
#MT002_DEST
#MT002_SBKNAM1
#MT002_SBKNAM2
#MT002_SBKADR1
#MT002_SBKADR2
#MT002_DBKNAM1
#MT002_DBKNAM2
#MT002_DBKADR1
#MT002_DBKADR2
#MT002_SESNO
#MT002_SEQNO
#MT002_MOR
#MT002_CIR
#MT002_PDE
#MT002_PDM
#MT002_AUTH
#MT002_FISC
#MT002_TOBOX
#MT002_CUBOX
#MT002_DATA
^
</MT002.tom>

!-----------------------------------------------------------
!有無需要 M??
<MT002.sel>
#MT002PRT=1,MT002.PFNX,NZ,M,D,12,6,{odby},850:1100,{marg},{pdf},{landscape},{edit},{editAll},{printNo}
^
</MT002.sel>
!-----------------------------------------------------------

<DP001.tom>
#ISSUE#ISSUERNM
#ISIN#ISINNM
#SCCATNM
#ISEDY#MATDY#VLDY
#LINTDY#NINTDY
#CPRATE
#CURSNM#AMT01#PRICE
#CPRATE#AMT16#AMT15
#AMT06#AMT10
#SWFADR#BKNAM1
#ISKPID#ONAM1
#ASWFADR#ISKPID
#ASWNAM1#ONAM1
#ACTNO#KPNO
#MSWFADR#MNAM1
#SWFFG1#SWFFG2^
</DP001.tom>


<DP001.sel>

#SWFADR#BKNAM1
#ISKPID#ONAM1
#ASWFADR#ISKPID
#ASWNAM1#ONAM1
#ACTNO#KPNO
#MSWFADR#MNAM1
#SWFFG1#SWFFG2
#TR1^
</DP001.sel>

<DP002.tom>
#TXDY
#VLDY
#AMT01
#ISINNM
#ISIN
#PRICE
#CPRATE
#AMT03
#AMT06
#AMT10
#ASWFADR#ASWNAM1#ACTNO
#ISKPID#ONAM1#KPNO
#OBUFGX^
</DP002.tom>

<DP002.sel>
#TXDY
#VLDY
#AMT01
#ISINNM
#ISIN
#PRICE
#CPRATE
#AMT03
#AMT06
#AMT10
#ASWFADR#ASWNAM1#ACTNO
#ISKPID#ONAM1#KPNO
#OBUFGX^
</DP002.sel>

<DL001.tom>
#SEPDEC=X,01,O
T(3,-)

##loop {times:06,i:1}
#DEALNOFRNN{i}=x,13,O
T(2,#DLTR{i}+#SEPDEC+#DLYY{i}+#SEPDEC+#DLSEQ{i})
C(3,#DLSEQ{i},0,T(3,_),s)
##end
</DL001.tom>
<DL001.sel>
#DEALNOFRNN1
#DEALNOFRNN2
#DEALNOFRNN3
#DEALNOFRNN4
#DEALNOFRNN5
#DEALNOFRNN6
</DL001.sel>

<PON01.rtn>

#PON01FG=A,1,S
C(5,#TXFORM,PON01,E(0,1),E(0,0))

</PON01.rtn>

<PON01.form>

![議價編號]
#PON01_PONO=X,6,O

![OBU/DBU記號]
#PON01_OBUFG=A,1,O

#PON01_OBUFGX=X,3,O
C(3,#PON01_OBUFG,1,T(3,DBU),T(3,OBU))

![營業單位]
#PON01_BRNO=X,4,O

#PON01_BRNOX=X,12,O
T(A,#PON01_BRNO,FBCTL,FBCTLDEF,BRNO,CNAME)

![買賣別]
#PON01_BSCD=X,1,O

#PON01_BSCDNUM=A,1,O
C(5,#PON01_BSCD,B,E(0,1),E(0,2))

#PON01_BSCDX=X,4,O
C(5,#PON01_BSCD,B,T(3,買進),T(3,賣出))

![議價幣別]
#PON01_CURCD=A,2,O

#PON01_CURCDEN=X,3,O
T(A,#PON01_CURCD,CURR,CURDEF,CURCD,ENAME)

![相對幣別]
#PON01_PCURCD=A,2,O

#PON01_PCURCDEN=X,3,O
T(A,#PON01_PCURCD,CURR,CURDEF,CURCD,ENAME)

![議價金額]
#PON01_TXAMT=m,12.2,O

![相對金額]
#PON01_PTXAMT=m,12.2,O

!中志　有衝突從#BCURNM改為#PON01_BCURNM
#PON01_BCURNM=X,3,O
C(5,#PON01_BSCD,B,T(2,#PON01_PCURCDEN),T(2,#PON01_CURCDEN))

!中志　有衝突從#SCURNM改為#PON01_SCURNM
#PON01_SCURNM=X,3,O
C(5,#PON01_BSCD,B,T(2,#PON01_CURCDEN),T(2,#PON01_PCURCDEN))

!中志　有衝突從#BAMT改為#PON01_BAMT
#PON01_BAMT=m,12.2,O
C(5,#PON01_BSCD,B,E(0,#PON01_PTXAMT),E(0,#PON01_TXAMT))

!中志　有衝突從#SAMT改為#PON01_SAMT
#PON01_SAMT=m,12.2,O
C(5,#PON01_BSCD,B,E(0,#PON01_TXAMT),E(0,#PON01_PTXAMT))

![業務別]
#PON01_APTYP=X,1,O

![成交匯率/註銷匯率]
#PON01_XRATE=m,6.8,O

![成本匯率]
#PON01_CRATE=m,6.8,O

![統一編號]
#PON01_CIFKEY=X,10,O

![損益金額(TWD)/註銷損益]
#PON01_PLAMT=+m,12.2,O

![優惠金額(TWD)]
#PON01_FAVAMT=+m,12.2,O

![公司/團體跨境貿易CNY]
#PON01_CNYFG=A,1,O

#PON01_CNYFGX=X,2,O
C(5,#PON01_CNYFG,1,T(3,是),C(5,#PON01_CNYFG,2,T(3,否),T(3, )))

![登錄日期]
#PON01_CRDAY=F,8,O

![登錄時間]
#PON01_CRTIME=A,6,O

#PON01_CRTIM1=X,2,S
T(1,#PON01_CRTIME,1,2)
#PON01_CRTIM2=X,2,S
T(1,#PON01_CRTIME,3,2)
#PON01_CRTIM3=X,2,S
T(1,#PON01_CRTIME,5,2)

![銷售員]
#PON01_SALES=X,6,O

#PON01_SALESNM=X,10,O

![等值台幣]
#PON01_NTTXAMT=m,12.2,O

![經辦]
#PON01_LEMPNO=X,6,O

![財務部科長姓名]
#PON01_SEMPNM=X,10,O

![註銷匯率]
#PON01_CLRATE=m,6.8,O

![註銷金額]
#PON01_CLAMT=m,12.2,O

![等值美金]
#PON01_USTXAMT=m,12.2,O

![交割日]
#PON01_STDAY=F,8,O

![交割天數]
#PON01_STDT=A,3,O

![被報價幣]
#PON01_CURCD1=A,2,O

#PON01_CURCDX1=X,3,O
T(A,#PON01_CURCD1,CURR,CURDEF,CURCD,ENAME)

![報價幣]
#PON01_CURCD2=A,2,O

#PON01_CURCDX2=X,3,O
T(A,#PON01_CURCD2,CURR,CURDEF,CURCD,ENAME)

![固定交割天數]
#PON01_STFDT=A,4,O

![固定交割日]
#PON01_STFDAY=F,8,O

![交割日區間起]
#PON01_STBDT=A,4,O

![交割日區間迄]
#PON01_STEDT=A,4,O

![交割日起]
#PON01_STBDAY=F,8,O

![交割日迄]
#PON01_STEDAY=F,8,O

![遠期成交匯率]
#PON01_FXRATE=m,6.8,O

![遠期成本匯率]
#PON01_FCRATE=m,6.8,O

![原始成交匯率]
#PON01_OXRATE=m,6.8,O

![報價幣金額]
#PON01_TXAMT1=m,12.2,O

![被報價幣金額]
#PON01_TXAMT2=m,12.2,O

![交割原因]
#PON01_STRSN=A,1,O

!中志　有衝突從#TYPE改為#PON01_TYPE
#PON01_TYPE=X,8,O
C(3,#PON01_STRSN,1,T(3,註銷),C(3,#PON01_STRSN,2,T(3,提前交割),C(3,#PON01_STRSN,3,T(3,延後交割),T(3, ))))

![客戶名稱]
#PON01_CIRNM=c,60,O

![換匯點數]
#PON01_SWPOINT=+m,4.6,O

![客戶買入]
#PON01_BTXAMT=m,12.2,O

![買入幣別]
#PON01_BCURCD=A,2,O

#PON01_BCURCDX=X,3,O
T(A,#PON01_BCURCD,CURR,CURDEF,CURCD,ENAME)

![客戶賣出]
#PON01_STXAMT=m,12.2,O

![賣出幣別]
#PON01_SCURCD=A,2,O

#PON01_SCURCDX=X,3,O
T(A,#PON01_SCURCD,CURR,CURDEF,CURCD,ENAME)

![SWAP遠期買入金額]
#PON01_BTXAMTF=m,12.2,O

![SWAP遠期賣出金額]
#PON01_STXAMTF=m,12.2,O

![應分配營業損益金額(TWD)]
#PON01_PLAMTBR=+m,12.2,O

![天數]
#PON01_DAY=A,3,O

![結算匯率]
#PON01_ERATE=m,6.8,O

![議價種類]
#PON01_EXTYP=X,1,O

![換匯即遠期]
#PON01_STK1=X,10,O
SWITCH(#PON01_EXTYP,2,T(3,一般即期),
               3,T(3,幣轉議價),
               4,T(3,遠期訂約),
               5,T(3,遠期展期),
               6,T(3,遠期未履約),
               7,T(3,換匯訂約),
               8,T(3,換匯展期),
               9,T(3,換匯未履約))

![實收/付差額]
#PON01_RCURCD=A,2,O

#PON01_RCURNM=X,3,O
IF(#PON01_RTXAMT!=0,$,s)
T(A,#PON01_RCURCD,CURR,CURDEF,CURCD,ENAME)

#PON01_RTXAMT=+m,12.2,O

![實收/付幣別,金額]
#PON01_RPCD=X,4,O
IF(#PON01_RTXAMT < 0, T(3,應收),T(3,應付))

#PON01_RPAMT=+m,12.2,O
IF(#PON01_RTXAMT < 0, E(0,#PON01_RTXAMT*-1),E(0,#PON01_RTXAMT))

![交易編號]
#PON01_FSNO=X,16,O

![基準匯率]
#PON01_BSRATE=m,6.8,O

![USD利率]
#PON01_USDINT=m,4.6,O

![TWD利率]
#PON01_TWDINT=m,4.6,O

![原議價編號]
#PON01_OPONO=X,6,O

![應收/付幣別/金額]
#PON01_FCURCD=A,2,O
#PON01_FAMT=+m,12.2,O

![結算/實際交割匯率]
#PON01_STRATE=m,6.8,O

![折算匯率]
#PON01_DISRATE=m,6.8,O

![提前/延後交割日]
#PON01_NDATE=F,8,O

![原交易編號訂約匯率]
#PON01_FSRATE=m,6.8,O

![原交易編號交割日期]
#PON01_FSDAY=F,8,O

![原交易編號買入金額]
#PON01_FSBTXAMT=m,12.2,O

![原交易編號賣出金額]
#PON01_FSSTXAMT=m,12.2,O

![原議價編號]
#PON01_FSPONO=X,6,O

![營業單位電話／傳真]
#PON01_BRTEL=X,11,O
#PON01_BRFAX=X,11,O

![遠期單位成本匯率]
#PON01_FRATE=m,6.8,O

![基準價格-即期]
#PON01_MIDRATEN=m,6.8,O

![基準價格-遠期]
#PON01_MIDRATE=m,6.8,O

![偏離市價-即期]
#PON01_OVERMIDN=X,1,O

![偏離市價-遠期]
#PON01_OVERMID=X,1,O

![有效記號]
#PON01_VALFG=A,1,O

#PON01_VALFGX=X,14,O
C(3,#PON01_VALFG,7,T(3,＊＊已合併＊＊),T(3, ))

!中志　有衝突從#FIELD1改為#PON01_FIELD1
![欄位名稱]
#PON01_FIELD1=X,8,O
C(3,#PON01_VALFG,8,T(3,註銷匯率),T(3,客戶成交))

![成交匯率/註銷匯率]
#PON01_RATE=m,6.8,O
C(3,#PON01_VALFG,8,E(0,#PON01_CLRATE),E(0,#PON01_XRATE))

!中志　有衝突從#FIELD2改為#PON01_FIELD2
#PON01_FIELD2=X,8,O
C(3,#PON01_VALFG,8,T(3,註銷損益),T(3,試算損益))

!中志　有衝突從#TITLE1改為#PON01_TITLE1
#PON01_TITLE1=X,8,O
C(3,#PON01_VALFG,8,T(3,（註銷）),T(3, ))

!FOR XG90A(一般即期買賣部位成交)表單
!財務部議價，依下列權限及優惠金額出表尾
!優惠金額 > 10萬	[協理   副理   核章   經辦]
!10萬>= 優惠金額 > 5萬	[副理   核章   經辦]
!優惠金額 <=5萬	[核章   經辦 XXXX]
!中志　有衝突從#FOOT1改為#PON01_FOOT1
#PON01_FOOT1=X,5,O
IF(#PON01_EXTYP=="2",IF(#PON01_FAVAMT>100000,T(3,協理:),T(3, )),s)

!中志　有衝突從#FOOT2改為#PON01_FOOT2
#PON01_FOOT2=X,5,O
IF(#PON01_EXTYP=="2",IF(#PON01_FAVAMT>50000,T(3,副理:),T(3, )),s)

</PON01.form>

<PON01.tom>

TXFORM=PON01
#PON01_PONO
#PON01_OBUFG
#PON01_BRNO
#PON01_BSCD
#PON01_EXTYP
#PON01_APTYP
#PON01_CURCD
#PON01_PCURCD
#PON01_TXAMT
#PON01_PTXAMT
#PON01_XRATE
#PON01_CRATE
#PON01_CIFKEY
#PON01_CIRNM
#PON01_PLAMT
#PON01_FAVAMT
#PON01_NTTXAMT
#PON01_USTXAMT
#PON01_CNYFG
#PON01_CRDAY
#PON01_CRTIME
#PON01_SALES
#PON01_SALESNM
#PON01_LEMPNO
#PON01_SEMPNM
#PON01_CLRATE
#PON01_CLAMT
#PON01_STDAY
#PON01_SWPOINT
#PON01_CURCD1
#PON01_CURCD2
#PON01_TXAMT1
#PON01_TXAMT2
#PON01_STFDT
#PON01_STFDAY
#PON01_STBDT
#PON01_STEDT
#PON01_STBDAY
#PON01_STEDAY
#PON01_FXRATE
#PON01_FCRATE
#PON01_BCURCD
#PON01_BTXAMT
#PON01_SCURCD
#PON01_STXAMT
#PON01_BTXAMTF
#PON01_STXAMTF
#PON01_PLAMTBR
#PON01_DAY
#PON01_OXRATE
#PON01_STRSN
#PON01_ERATE
#PON01_FSNO
#PON01_RCURCD
#PON01_RTXAMT
#PON01_USDINT
#PON01_TWDINT
#PON01_OPONO
#PON01_FCURCD
#PON01_FAMT
#PON01_STRATE
#PON01_DISRATE
#PON01_NDATE
#PON01_FSRATE
#PON01_FSDAY
#PON01_FSBTXAMT
#PON01_FSSTXAMT
#PON01_FSPONO
#PON01_BRTEL
#PON01_BRFAX
#PON01_FRATE
#PON01_MIDRATEN
#PON01_MIDRATE
#PON01_OVERMIDN
#PON01_OVERMID
#PON01_VALFG
^

</PON01.tom>

<L2413.sel>
#PRTSCRFG=2,L2413,NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#HCODEX^
</L2413.sel>

<L2411.sel>
#PRTSCRFG=2,L2411,NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#HCODEX^
</L2411.sel>

<L2412.sel>
#PRTSCRFG=2,L2412,NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#HCODEX^
</L2412.sel>

<L2414.sel>
#PRTSCRFG=2,L2414,NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#HCODEX^
</L2414.sel>


<L2415.sel>
#PRTSCRFG=2,L2415,NA,,D,{cpi},{lpi},{odby},{size},{marg},{pdf},{landscape},{edit},{editAll},{printNo}
#KINBR#BNAMM#TLRNO#TXTNO#EMPNM#SUPNM#SYSDATEF#SYSTIME#HCODEX^
</L2415.sel>