<RPRUN.dec>

!#FKEY 0:登錄,1:訂正,2:放行,3:審核/在途登錄,5:訂正重登
!      6:在途設定,7修改,8查詢,9檢視journal
#RP_RUN=X,1,S

#GOFILHIDE=X,1,S

</RPRUN.dec>

<BFRP.dec>
! [應收付類別]
! -------------------------------  還款  -------------------------------
!   類別                 交易                          條件
! 1:還款          L3200回收登錄 (貸方交易)
!                 L3711應繳日變更-不可欠繳
!                 L3440催收回復登錄 (貸方交易)
!                 L3610補收聯貸費用(貸方交易)
!                 L3210暫收款登錄 (貸方交易)      <暫收來源>!= 3.期票
! 2:結案          L3410結案登錄 (展期,貸方交易)
! 8:抽退票        L3220暫收款退還款 (借方交易)      <作業項目>== 01.抽票、02.退票

! -------------------------------  撥款  -------------------------------
! 3:期票          L3210暫收款登錄 (貸方交易)      <暫收來源>== 3.期票
! 4:撥款          L3100撥款 (借方交易)            <借新還舊>!= Y
! 5:暫收款退還    L3220暫收款退還 (借方交易)      <作業項目>!= 01.抽票、02.退票、06.轉帳
! 6:撥款-借新還舊 L3100撥款 (借方交易)            <借新還舊>== Y
! 7:暫收轉帳      L3230暫收款銷帳款 (借方交易)      <作業項目>== 06.轉帳

! [還款來源／撥款方式]
!  還款來源             撥款方式
! 01:匯款轉帳           01:整批匯款
! 02:銀行扣款           02:單筆匯款
! 03:員工扣款           04:退款台新
! 04:支票兌現           05:退款他行
! 05:法院扣薪           11:退款新光
! 06:理賠金             91:展期／借新還舊
! 07:代收款－債權協商   92:暫收轉帳
! 09:其他               93:暫收支票
! 11:匯款轉帳預先作業   94:轉債協暫收款
! 90:暫收抵繳           95:轉債協退還款
! 91:展期／借新還舊
! 93:暫收支票

! 登打邏輯
! RPFG=1 , RPTYPZ=RpCode1(<=90)    , RpCode2~5=90
! RPFG=2 , RPTYPZ=RpCode1(<=91)    , RpCode2~5=90
! RPFG=3 , RPTYPZ=RpCode1(93)      , RpCode2~5=Can't Type
! RPFG=4 , RPTYPZ=RpCode1(01,02)   , RpCode2~5=Can't Type
! RPFG=5 , RPTYPZ=RpCode1(04,05,11), RpCode2~5=Can't Type
! RPFG=6 , RPTYPZ=RpCode1(91)      , RpCode2~5=(01,91)
! RPFG=7 , RPTYPZ=RpCode1(92,94,95), RpCode2~5=Can't Type
! RPFG=8 , RPTYPZ=RpCode1(93)      , RpCode2~5=Can't Type


! -----INPUT-----
! [應收付類別]
#RPFG=A,1,S

! [還款來源／撥款方式]
#RPTYPZ=A,2,S

! 應收付總金額
#RPTOT=m,14,S

! 回收金額(8:抽退票 第一筆)
#RPAMTZ=m,14,S

! 可短收金額
! #RPSHORTAMT=m,14,S

! 會計科目
#RP_ACNO=x,15,S

! ----------1:還款、2:結案，需輸入----------
! 明細序號
#RPSEQ=A,6,S

! 對帳類別
#RP_ACCTCODE=X,3,S

! 入帳日期
#RP_ENTRYDATE=D,7,S

! 還款類別
#RP_REPCAT=A,2,S
! 1:期款
! 2:部分償還
! 3:結案
! 4:帳管費
! 5:火險費
! 6:契變手續費
! 7:法務費
! 9:其他

! 戶號
#RP_CUSTNO=A,7,S

! 額度
#RP_FACMNO=X,3,S

! 撥款序號
#RP_BORMNO=A,3,S

!      摘要
#RP_NOTE=X,60,S
! 01:  摘要代碼+中文
! 02:  銀行代號+郵局存款別+扣款帳號
! 03:  不足金額+應扣金額
! 04:  支票帳號+支票號碼+支票金額
! 06:  來源統編+來源戶名+摘要
! 07:  來源統編+來源戶名+摘要
! 09:  來源統編+來源戶名+摘要
! 11:  來源統編+來源戶名+摘要

! ----------3:期票、8:抽退票，需輸入----------
! 額度(8:抽退票 第一筆)
#RP_FACMNO=_,_,S

! 支票號碼
#RP_CHQUENO=A,7,S

! 支票帳號
#RP_CHQACT= A,9,S

! 支票金額
#RP_CHQUEAMT=m,14,S

! 8:抽退票 第二筆之後放值********
! 額度2
#RP_FACMNO2=X,3,S

! 該支票於額度2之金額
#RPAMTZ2=m,14,S

! 額度3
#RP_FACMNO3=X,3,S

! 該支票於額度3之金額
#RPAMTZ3=m,14,S

! 額度4
#RP_FACMNO4=X,3,S

! 該支票於額度4之金額
#RPAMTZ4=m,14,S

! 額度5
#RP_FACMNO5=X,3,S

! 該支票於額度5之金額
#RPAMTZ5=m,14,S

! ----------4:撥款、5:暫收款退還、6:撥款-借新還舊，需輸入----------
! 匯款銀行
#RP_REMBANK=A,3,S

! 匯款分行
#RP_REMBRCH=A,4,S

! 匯款帳號
#RP_REMACCT=A,14,S

! 戶名
#RP_CUSTNM=X,100,S

! 附言
#RP_MEMO=X,100,S

! ----------7:暫收轉帳，需輸入----------
! 戶號
#RP_CUSTNO=_,_,S

! --------------------
! 先將收付欄收起
#RP_BF=@,1,S
INVOKEJS(SHOW,RPDTL,0)

#RP_SETON=X,1,S
CALL(#RP_BF)

</BFRP.dec>

<RPDTL.scr>
["應收付明細"],
["#grid#,{id:9,expand:true,loop:5,row_height:1,s_cols:[,,770], p_cols:[20,20,60]}","","",
["應收付類別","收付金額","備註項目"],
[[#RpCode1,":",#RpCodeX1],[#RpAmt1],
[#GRD_COLL1,#GRD_COLM1,#RpCustNo1,#RpFacmNo1,#RpRemitAcctNo1
,#GRD_COLN1,#RpDetailSeq1,#BTN_GRD_B1,#GRD_COLO1,#RpEntryDate1
,#BTN_GRD_A1,#RpRemitBankX1,#GRD_COLP1,#GRD_COLR1,#RpType1
,#RpTypeX1,#RpCustName1,#GRD_COLQ1,#NOTE1,#RpRemark1]]],
!-----5
["",#LABLE_TOT,#RPTOTF],
</RPDTL.scr>

<RPCOL.dec>
!--------------------[瀏覽]交易---------------------
! L4925整批入帳明細查詢(By日期區間)
!--------------------[瀏覽]交易---------------------

![判斷是否有收付欄]
#TITFCD=_,_,O
E(0,1)

! 收付欄關閉
#RP_AF=X,1,S
CALL(#RP_BF)

! 數字轉成文字型態
#RP_CHQUEAMTX=X,17,S
X(#RP_CHQUEAMT)

#AMT=m,16.2,S
E(3,#RPTOT+#RPAMTZ)

! --------------------------------------------------------------------------------------------
! 收付欄Grid種類
#RP_IND=A,1,S
C(2,#RPFG,E(0,0),
          IF(#RPTYPZ==01||#RPTYPZ==02||#RPTYPZ==03||#RPTYPZ==04||#RPTYPZ==06||#RPTYPZ==07||#RPTYPZ==09||#RPTYPZ==11||#RPTYPZ==90,E(0,1),E(0,0)),
          IF(#RPTYPZ==01||#RPTYPZ==02||#RPTYPZ==03||#RPTYPZ==04||#RPTYPZ==06||#RPTYPZ==07||#RPTYPZ==09||#RPTYPZ==11||#RPTYPZ==90||#RPTYPZ==91,E(0,1),E(0,0)),
          IF(#RPTYPZ==93,E(0,4),E(0,0)),
          IF(#RPTYPZ==01||#RPTYPZ==02,E(0,2),E(0,0)),
          IF(#RPTYPZ==04||#RPTYPZ==05||#RPTYPZ==11,E(0,2),E(0,0)),
          IF(#RPTYPZ==91,E(0,5),E(0,0)),
          IF(#RPTYPZ==92,E(0,3),
             IF(#RPTYPZ==94 || #RPTYPZ==95,E(0,3),E(0,0))),
          IF(#RPTYPZ==93,E(0,4),E(0,0)))
C(3,#AMT,0,E(0,0),$)

##loop{times:6,i:1,z:0}
! 變數
#DF{i}=A,1,S
E(0,{i})
! 儲存總額
#RPTOTF{z}=m,14,S

! 儲存總額-可短收金額
! #RPTOTS{z}=m,14,S
##end

! 預設收付欄Grid第二行之後關閉
#COLBGN=A,1,S
INVOKEJS(SHOW,grd9_2,0)INVOKEJS(SHOW,grd9_3,0)INVOKEJS(SHOW,grd9_4,0)INVOKEJS(SHOW,grd9_5,0)

! #RpShortAmts=m,14,S
! #RpShortAmtsX=X,21,S
! X(#RpShortAmts)
! 餘額運算變數
#RPTOTF=m,14,L
E(3,@RPTOTF,#RPTOT)
E(3,@RPTOTF0,#RPTOT)



!#FKEY 0:登錄,1:更正,2:放行,3:審核/在途登錄,5:更正重登,6:在途設定,7修改,9檢視journal

! 摘要取值
#PRE_NOTE=A,1,S
C(3,#RP_IND,0,s,$)
C(3,#FKEY,0
,E(0,@RpCode1,#RPTYPZ)
C(3,#RP_IND,4,T(2,@NOTE1,帳號:+#RP_CHQACT+ 票號+#RP_CHQUENO+ 金額+#RP_CHQUEAMTX),T(2,@NOTE1,#RP_NOTE))
E(0,@RpFacmNo1,#RP_FACMNO)
E(0,@RpAmt1,#RPAMTZ)
E(0,@RpCustNo1,#RP_CUSTNO)
E(0,@RpBormNo1,#RP_BORMNO)
! C(3,#RpRemitAcctNo1,0,E(0,@RpRemitAcctNo1,#RP_REMACCT),$)
T(2,@RpCustName1,#RP_CUSTNM)
T(2,@RpRemark1,#RP_MEMO)
E(0,@RpDetailSeq1,#RPSEQ)
T(2,@RpAcctCode1,#RP_ACCTCODE)
T(2,@RpEntryDate1,#RP_ENTRYDATE)
E(0,@RpType1,#RP_REPCAT)
! E(0,@RpShortAmts,#RPSHORTAMT)
T(2,@RpAcCode1,#RP_ACNO)
,C(3,#FKEY,7
,E(0,@RpCode1,#RPTYPZ)
E(0,@RpAmt1,#RPAMTZ)
,s))


! AML姓名
#RP_AmlCheckName=x,100,S

! OverRp短溢收欄
! 短溢收記號
! 1.短收 -> 不處理
! 2.溢收 -> AcctCode業務科目
#OverRpFg=A,1,S
IF(#RPFG==1,$,s)

! 短溢收金額**
#OverRpAmt=m,14,S
IF(#RPFG==1,$,s)

! 短溢收額度
#OverRpFacmNo=A,3,S
E(0,#RP_FACMNO)

! 分行調rim
#PreBankCode=x,30,S
IF(#RPTYPZ==04,T(2,8120000台新國際商業銀行),IF(#RPTYPZ==11,T(2,1030000臺灣新光商業銀行),T(2,)))

#RpBankHelp=x,50000,S
#RpBranchCode4Help=x,50000,S

<include src="ROM.icf::L4R14.dec"/>

#RimRpCustNo=A,7,S
#RimRpCheckAcctNo=A,9,S
#RimRpCheckNo=A,7,S

! 抽退票調rim
#RimL4r14=X,1,S
C(3,#RPFG,8,$,s)
C(3,#FKEY,0,$,s)
E(0,@RimRpCustNo,#RP_CUSTNO)
E(0,@RimRpCheckAcctNo,#RP_CHQACT)
E(0,@RimRpCheckNo,#RP_CHQUENO)
RESET_RIM(#RimL4r14,L4R14)
S(L4R14,1,#RimRpCustNo,#RimRpCheckAcctNo,#RimRpCheckNo)
R(1,L4R14)
E(0,@RpFacmNo1,#L4r14FacmNo1)
E(0,@RpAmt1,#L4r14Amt1)
E(0,@RpFacmNo2,#L4r14FacmNo2)
E(0,@RpAmt2,#L4r14Amt2)
E(0,@RpFacmNo3,#L4r14FacmNo3)
E(0,@RpAmt3,#L4r14Amt3)
E(0,@RpFacmNo4,#L4r14FacmNo4)
E(0,@RpAmt4,#L4r14Amt4)
E(0,@RpFacmNo5,#L4r14FacmNo5)
E(0,@RpAmt5,#L4r14Amt5)

! 收付欄 欄位 顯示控制
#RP_ONRP=A,1,S
INVOKEJS(SHOW,RPDTL,0)
C(3,#RP_IND,0,s,$)
INVOKEJS(SHOW,RPDTL,1)

! 幾筆顯示幾欄
##loop{times:5,n:1,o:1}
#RP_DISCOLC{n}=A,1,S
C(3,#RPFG,8,IF(#RpAmt{n}>0,INVOKEJS(SHOW,grd9_{o},1)E(0,@RpCode{n},93),INVOKEJS(SHOW,grd9_{o},0)),s)
##end

##loop {times:5,i:1,j:2,k:3,z:0}
! 入帳日期[瀏覽]
#BTN_GRD_A{i}=X,1,I,ui:button;value:未銷帳查詢;enable:1;tabbable:0
! 行庫資料查詢
#BTN_GRD_B{i}=X,1,I,ui:button;value:行庫資料查詢;enable:1;tabbable:0

! Grid4-SkipFlag
#GRD_SKFG{i}=A,1,S

! 餘額計算(不需輸入回收金額)
#PRE_RPTOT{i}=m,14,S
C(3,#RP_IND,0,s,$)
IF(#RPFG==4||#RPFG==5||#RPFG==7||#RPFG==8,CALL(#RPTOT_CAL{i}),s)


! 餘額計算
! RPTOTF    輸入總金額 & 結算金額
! RPTOTF{z} loop計算用金額，從0起算
! RPTOTF{i} loop計算用金額，從1起算
! RpAmt{i}  第1筆應扣金額
! RPTOTF{0}}=RPTOTF
! loop (z:0 , i:1)
! RPTOTF{z}-RpAmt{i}=RPTOTF{i}
! RPTOTF=RPTOTF{i}

! RPTOTF=0 隱藏
#RPTOT_CAL{i}=@,1,S
C(3,#RP_IND,0,s,$)
E(3,@RPTOTF{i},#RPTOTF{z}-#RpAmt{i})
E(3,@RPTOTF,#RPTOTF{i})
! E(3,@RPTOTS{i},#RPTOTF{i}-#RpShortAmts)
C(3,#RPTOTF,0,HIDE(#RPTOTF),SHOW(#RPTOTF))
CALL(#SKFG_CAL{i})
CALL(#TOT_NAMING{i})

! 欄位停留 1-stay | 0-skip
#SKFG_CAL{i}=@,1,S
IF(#DF6>{j},IF(#RpAmt{i}>0&&#RPTOTF>0,E(0,@GRD_SKFG{j},1),
IF(#DF1=={i},E(0,@GRD_SKFG{j},1),E(0,@GRD_SKFG{j},0))CALL(#CLEAN_COL{j})),s)
SWITCH(#RP_IND,
2,C(3,#RpCode{i},91,$,s),
4,IF(#RPFG==3,s,IF(#DF1=={i},$,s)),
5,C(3,#DF1,{i},$,s),
1,$)
CALL(#RPTOT_DIS{i},6)

! 欄位清空 - 回頭敲，餘額為0者舊資料清除
#CLEAN_COL{i}=@,1,S
IF(#RPTOTF==0||#RP_IND==0,$,s)
E(0,@RpCode{i},0)
E(0,@RpAmt{i},0)
E(0,@RpCustNo{i},0)
E(0,@RpFacmNo{i},0)
T(2,@RpRemitBankX{i},)
E(0,@RpRemitAcctNo{i},0)
T(2,@RpCustName{i},)
T(2,@RpRemark{i},)

#TOT_NAMING{i}=@,1,S
IF(#RPTOTF>0,T(2,@LABLE_TOT,短收),$)
IF(#RPTOTF<0,T(2,@LABLE_TOT,溢收),$)
IF(#RPTOTF==0,T(2,@LABLE_TOT,),$)

IF(#RPTOTF>0,E(0,@OverRpFg,1),$)
IF(#RPTOTF<0,E(0,@OverRpFg,2),$)
IF(#RPTOTF<0,E(0,@RPTOTF,0-#RPTOTF),$)
E(0,@OverRpAmt,#RPTOTF)

! 餘額計算後顯示欄位，若還款第一筆=0,第二筆出暫收
#RPTOT_DIS{i}=@,1,S
C(3,#RP_IND,0,s,$)
IF(#RPTOTF{z}>0&&#DF1=={i},
   IF(#RPFG==1||#RPFG==2||#RPFG==6,INVOKEJS(SHOW,grd9_{j},1),INVOKEJS(SHOW,grd9_{i},1)),
   IF(#RPTOTF{z}>0&&#RpAmt{i}>0,INVOKEJS(SHOW,grd9_{j},1),INVOKEJS(SHOW,grd9_{j},0)))

! IF(#RPTOTF>0,$,s)
IF(#it1 > {j},$,s)
IF(#RPFG==1&&#RPTOTF{z}>0&&#RpAmt{i}>0,E(0,@RpCode{j},90),IF(#RPFG==1&&#DF1=={i}&&#RPTOTF{z}>0&&#RpAmt{i}==0,E(0,@RpCode{j},90),$))
IF(#RPFG==2&&#RPTOTF{z}>0&&#RpAmt{i}>0,E(0,@RpCode{j},90),IF(#RPFG==2&&#DF1=={i}&&#RPTOTF{z}>0&&#RpAmt{i}==0,E(0,@RpCode{j},90),$))
IF(#RPFG==3&&#RPTOTF{z}>0&&#RpAmt{i}>0,E(0,@RpCode{j},93),IF(#RPFG==3&&#DF1=={i}&&#RPTOTF{z}>0&&#RpAmt{i}==0,E(0,@RpCode{j},93),$))
IF(#RPFG==4&&#RPTOTF{z}>0&&#RpAmt{i}>0,E(0,@RpCode{j},02),IF(#RPFG==4&&#DF1=={i}&&#RPTOTF{z}>0&&#RpAmt{i}==0,E(0,@RpCode{j},02),$))
#GRD_COLL{i}=X,5,L
IF(#RPFG==7,T(3,戶號:),$)

#GRD_COLM{i}=X,9,L
IF(#RPFG==1||#RPFG==2||#RPFG==3||#RPFG==8,T(3,額度號碼:),$)
IF(#RPFG==4||#RPFG==5||#RPFG==6,T(3,匯款帳號:),$)

#GRD_COLN{i}=X,9,L
IF(#RPFG==1||#RPFG==2,T(3,明細序號:),$)

#GRD_COLO{i}=X,9,L
IF(#RPFG==1||#RPFG==2,T(3,入帳日期:),$)
IF(#RPFG==4||#RPFG==5||#RPFG==6,T(3,匯款銀行:),$)

#GRD_COLP{i}=X,9,L
IF(#RPFG==1||#RPFG==2,T(3,還款類別:),$)

#GRD_COLQ{i}=X,5,L
IF(#RPFG==1||#RPFG==2||#RPFG==3||#RPFG==8,T(3,摘要:),$)
IF(#RPFG==4||#RPFG==5||#RPFG==6,T(3,附言:),$)

#GRD_COLR{i}=X,5,L
IF(#RPFG==4||#RPFG==5||#RPFG==6,T(3,戶名:),$)

! 欄位顯示 Recall
#COL_DIS_CALL{i}=@,1,S
IF(#RPFG<4,
SWITCH(#RpCode{i}
,01,T(2,@RpCodeX{i},匯款轉帳)
,02,T(2,@RpCodeX{i},銀行扣款)
,03,T(2,@RpCodeX{i},員工扣款)
,04,T(2,@RpCodeX{i},支票兌現)
,05,T(2,@RpCodeX{i},法院扣薪)
,06,T(2,@RpCodeX{i},理賠金)
,07,T(2,@RpCodeX{i},代收款-債權協商)
,09,T(2,@RpCodeX{i},其他)
,11,T(2,@RpCodeX{i},匯款轉帳預先作業)
,90,T(2,@RpCodeX{i},暫收抵繳)
,91,T(2,@RpCodeX{i},展期／借新還舊)
,93,T(2,@RpCodeX{i},暫收支票)
,T(2,@RpCodeX{i},))
,SWITCH(#RpCode{i}
,01,T(2,@RpCodeX{i},整批匯款)
,02,T(2,@RpCodeX{i},單筆匯款)
,04,T(2,@RpCodeX{i},退款台新)
,05,T(2,@RpCodeX{i},退款他行)
,11,T(2,@RpCodeX{i},退款新光)
,91,T(2,@RpCodeX{i},展期／借新還舊)
,92,T(2,@RpCodeX{i},暫收轉帳)
,93,T(2,@RpCodeX{i},暫收支票)
,94,T(2,@RpCodeX{i},轉債協暫收款)
,95,T(2,@RpCodeX{i},轉債協退還款)
,T(2,@RpCodeX{i},)))
HIDE(#GRD_COLL{i},#GRD_COLM{i},#GRD_COLN{i},#GRD_COLO{i},#GRD_COLP{i},#GRD_COLQ{i},#GRD_COLR{i},#RpCustNo{i},#RpFacmNo{i},#BTN_GRD_B{i},#BTN_GRD_B{i},#RpRemitBankX{i},#RpDetailSeq{i},#RpEntryDate{i},#BTN_GRD_A{i},#RpRemitAcctNo{i},#RpType{i},#RpTypeX{i},#RpCustName{i},#NOTE{i},#RpRemark{i})
IF(#RPFG==1||#RPFG==2,
C(3,#RpCode{i},91,SHOW(#GRD_COLM{i},#RpFacmNo{i}),
C(3,#RpCode{i},90,SHOW(#GRD_COLM{i},#RpFacmNo{i},#BTN_GRD_A{i}),
SHOW(#GRD_COLN{i},#GRD_COLO{i},#GRD_COLP{i},#GRD_COLQ{i},#RpDetailSeq{i},#RpEntryDate{i},#RpType{i},#RpTypeX{i},#NOTE{i}))),$)
IF(#RPFG==3||#RPFG==8,SHOW(#GRD_COLM{i},#GRD_COLQ{i},#RpFacmNo{i},#NOTE{i}),$)
IF(#RPFG==4||#RPFG==5||#RPFG==6,C(3,#RpCode{i},91,SHOW(#GRD_COLM{i},#RpFacmNo{i},#BTN_GRD_A{i}),SHOW(#GRD_COLM{i},#GRD_COLO{i},#GRD_COLR{i},#GRD_COLQ{i},#BTN_GRD_B{i},#RpRemitBankX{i},#RpRemitAcctNo{i},#RpCustName{i},#RpRemark{i})),$)
IF(#RPFG==7,
C(3,#RpCode{i},92,SHOW(#GRD_COLL{i},#RpCustNo{i},#RpFacmNo{i}),
SHOW(#GRD_COLL{i},#RpCustNo{i})HIDE(#RpFacmNo{i})),$)

! 欄位顯示先調整
#PRE_COL_DIS{i}=A,1,S
HIDE(#GRD_COLL{i},#GRD_COLM{i},#GRD_COLN{i},#GRD_COLO{i},#GRD_COLP{i},#GRD_COLQ{i},#GRD_COLR{i},#RpCustNo{i},#RpFacmNo{i},#BTN_GRD_B{i},#BTN_GRD_B{i},#RpRemitBankX{i},#RpDetailSeq{i},#RpEntryDate{i},#BTN_GRD_A{i},#RpRemitAcctNo{i},#RpType{i},#RpTypeX{i},#RpCustName{i},#NOTE{i},#RpRemark{i})
IF(#RPFG==1||#RPFG==2,
C(3,#RpCode{i},91,SHOW(#GRD_COLM{i},#RpFacmNo{i}),
C(3,#RpCode{i},90,SHOW(#GRD_COLM{i},#RpFacmNo{i},#BTN_GRD_A{i}),
SHOW(#GRD_COLN{i},#GRD_COLO{i},#GRD_COLP{i},#GRD_COLQ{i},#RpDetailSeq{i},#RpEntryDate{i},#RpType{i},#RpTypeX{i},#NOTE{i}))),$)
IF(#RPFG==3||#RPFG==8,SHOW(#GRD_COLM{i},#GRD_COLQ{i},#RpFacmNo{i},#NOTE{i}),$)
IF(#RPFG==4||#RPFG==5||#RPFG==6,C(3,#RpCode{i},91,SHOW(#GRD_COLM{i},#RpFacmNo{i},#BTN_GRD_A{i}),SHOW(#GRD_COLM{i},#BTN_GRD_B{i},#GRD_COLO{i},#GRD_COLR{i},#GRD_COLQ{i},#BTN_GRD_B{i},#RpRemitBankX{i},#RpRemitAcctNo{i},#RpCustName{i},#RpRemark{i})),$)
IF(#RPFG==7,
C(3,#RpCode{i},92,SHOW(#GRD_COLL{i},#RpCustNo{i},#RpFacmNo{i}),
SHOW(#GRD_COLL{i},#RpCustNo{i})),$)

! 還款來源
#RpCode{i}=A,2,I
C(3,#RP_IND,0,s,$)
C(3,#RPTOTF,0,CALL(#SKFG_CAL{i}),$)
C(3,#RP_IND,1,$,C(3,#RP_IND,5,$,C(3,#RP_IND,3,$,s)))
IF(#DF1=={i},C(3,#RPFG,7,$,s),C(3,#RPFG,7,s,$))
IF(#RPFG==2,s,$)
IF(#RPFG==1,s,$)
C(3,#GRD_SKFG{i},1,$,C(3,#RPFG,7,$,s))
C(3,#RPFG,6,HELP(01:整批匯款;91:展期／借新還舊),
C(3,#RPFG,7,HELP(92:暫收轉帳;94:轉債協暫收款;95:轉債協退還款)))
@SWITCH(#RPFG,
6,V(1,01,91),
7,V(1,92,94,95),
V(1,90,91))

! #BIND_GRD_A瀏覽按鈕帶入值
#BUF_GRD_A{i}=X,44,S
SWITCH(#RpCode{i},
91,
T(2,10H+   +0000+TWD+                  +#RpCustNo1+000+TRO),
90,
T(2,10H+   +0000+TWD+                  +#RpCustNo1+000+TAV))

#BIND_GRD_A{i}=X,1,S
BIND(#BTN_GRD_A{i},click, {cmd=CHAIN; ntxcd=L6907; ntxbuf=#BUF_GRD_A{i};ntxbuf5=type<-1:RpFacmNo{i}<-OOFacmNo:RpAmt{i}<-OORvBal1})

#BUF_GRD_B{i}=x,38,S
T(2,#PreBankCode)

! 借新還舊第2~5欄為整批匯款時之賦值
#SetValueA{i}=A,1,S
IF(#RPFG==6&&#RpCode{i}==01,$,s)
E(0,@RpRemitAcctNo{i},#RP_REMACCT)
T(2,@RpCustName{i},#RP_CUSTNM)
T(2,@RpRemark{i},#RP_MEMO)

! 欄位控制
! A.LABAL COLM增加 額度號碼
! B.若回收之第一筆金額為0，第二筆以暫收抵繳還款的話，第一筆隱藏
#COL_CHECK{i}=A,1,S
IF(#RpCode{i}==90||#RpCode{i}==91,T(3,@GRD_COLM{i},額度號碼:),$)
IF(#RPFG==1||#RPFG==2,$,s)
IF(#RpCode{i}==90||#RpCode{i}==91,$,IF(#RpAmt1==0,INVOKEJS(SHOW,grd9_1,0),INVOKEJS(SHOW,grd9_1,1)))

! 還款來源中文
#RpCodeX{i}=X,16,L
C(3,#RP_IND,0,s,$)
IF(#RPFG<4,
SWITCH(#RpCode{i},
01,T(2,@RpCodeX{i},匯款轉帳),
02,T(2,@RpCodeX{i},銀行扣款),
03,T(2,@RpCodeX{i},員工扣款),
04,T(2,@RpCodeX{i},支票兌現),
05,T(2,@RpCodeX{i},法院扣薪),
06,T(2,@RpCodeX{i},理賠金),
07,T(2,@RpCodeX{i},代收款-債權協商),
09,T(2,@RpCodeX{i},其他),
11,T(2,@RpCodeX{i},匯款轉帳預先作業),
90,T(2,@RpCodeX{i},暫收抵繳),
91,T(2,@RpCodeX{i},展期／借新還舊),
93,T(2,@RpCodeX{i},暫收支票),T(2,@RpCodeX{i},))
,
SWITCH(#RpCode{i},
01,T(2,@RpCodeX{i},整批匯款),
02,T(2,@RpCodeX{i},單筆匯款),
04,T(2,@RpCodeX{i},退款台新),
05,T(2,@RpCodeX{i},退款他行),
11,T(2,@RpCodeX{i},退款新光),
91,T(2,@RpCodeX{i},展期／借新還舊),
92,T(2,@RpCodeX{i},暫收轉帳),
93,T(2,@RpCodeX{i},暫收支票),
94,T(2,@RpCodeX{i},轉債協暫收款),
95,T(2,@RpCodeX{i},轉債協退還款),T(2,@RpCodeX{i},)))


! 欄位顯示
#COL_DIS{i}=A,1,S
IF(#RPFG==1||#RPFG==2,
C(3,#RpCode{i},91,SHOW(#GRD_COLM{i},#RpFacmNo{i}),
C(3,#RpCode{i},90,SHOW(#GRD_COLM{i},#RpFacmNo{i},#BTN_GRD_A{i}),
SHOW(#GRD_COLN{i},#GRD_COLO{i},#GRD_COLP{i},#GRD_COLQ{i},#RpDetailSeq{i},#RpEntryDate{i},#RpType{i},#RpTypeX{i},#NOTE{i}))),$)
IF(#RPFG==3||#RPFG==8,SHOW(#GRD_COLM{i},#GRD_COLQ{i},#RpFacmNo{i},#NOTE{i}),$)
IF(#RPFG==4||#RPFG==5||#RPFG==6,C(3,#RpCode{i},91,SHOW(#GRD_COLM{i},#RpFacmNo{i},#BTN_GRD_A{i}),SHOW(#GRD_COLM{i},#GRD_COLO{i},#GRD_COLR{i},#GRD_COLQ{i},#BTN_GRD_B{i},#RpRemitBankX{i},#RpRemitAcctNo{i},#RpCustName{i},#RpRemark{i})),$)
IF(#RPFG==7,
C(3,#RpCode{i},92,SHOW(#GRD_COLL{i},#RpCustNo{i},#RpFacmNo{i}),
SHOW(#GRD_COLL{i},#RpCustNo{i})HIDE(#RpFacmNo{i})),$)

! 去小數
#RpTotfNoneDot{i}=m,14,S
E(0,#RPTOTF{z})
! 轉中文
#RpXtypeRpTotF{i}=X,21,S
X(#RpTotfNoneDot{i})
! 去小數
! #RpTotSNoneDot{i}=m,14,S
! E(0,#RPTOTS{z})
! 轉中文
! #RpXtypeRpTotS{i}=X,21,S
! X(#RpTotSNoneDot{i})

! 放警告
#RpAmtComfirmA{i}=c,50,S
T(2,金額不可低於+#RpXtypeRpTotF{i})
! IF(#RPTOTS{z} <= 0,T(2,金額請輸入+0+~+#RpXtypeRpTotF{i}),IF(#DF5=={i},T(2,金額不可低於+#RpXtypeRpTotS{i}),T(2,金額請輸入+1+~+#RpXtypeRpTotF{i})))
#RpAmtComfirmB{i}=c,50,S
T(2,金額不可高於+#RpXtypeRpTotF{i})


! 收付金額 IF(#DF1=={i}&&#RP_IND==5,CALL(#RPTOT_DIS{i},6),$)
! 若第一筆金額為0,第一筆grid不顯示,顯示第二筆並停留。
! 第二筆也為0,則skip到最後
! 回收溢繳columns{k}跳過不顯示
! 溢繳款超過應收付總額帶入該值
! 90不可溢繳款
#RpAmt{i}=m,14,I
C(3,#RP_IND,0,s,$)
C(3,#RpCode{i},90,IF(#RpAmt{i}>#RPTOTF{z},E(0,@RpAmt{i},#RPTOTF{z}),$),$)
IF(#DF1=={i},INVOKEJS(SHOW,grd9_{i},1),
IF(#GRD_SKFG{i}==1&&#RpAmt{z}>0&&#RPTOTF{z}>0,
     IF(#RPFG==1,E(0,@RpCode{i},90),$)
     IF(#RPFG==2,E(0,@RpCode{i},90),$)
     IF(#RPFG==3,E(0,@RpCode{i},93),$)
     IF(#RPFG==1||#RPFG==2||#RPFG==3||#RPFG==6,
        IF(#RPTOTF{z}>0,INVOKEJS(SHOW,grd9_{i},1)CALL(#COL_DIS_CALL{i}),INVOKEJS(SHOW,grd9_{i},0))
        IF(#RPTOTF{z}>0,$,s),s),
     IF(#DF2=={i}&&#RPTOTF{z}>0,
               IF(#RPFG==1,E(0,@RpCode{i},90)CALL(#COL_DIS_CALL{i}),$)
               IF(#RPFG==2,E(0,@RpCode{i},90)CALL(#COL_DIS_CALL{i}),$)
               IF(#RPFG==3,E(0,@RpCode{i},93),$)
               IF(#RPFG==6,E(0,@RpCode{i},01),$)
               INVOKEJS(SHOW,grd9_{i},1),E(0,@RpCode{i},0)INVOKEJS(SHOW,grd9_{i},0))
     IF(#DF2=={i}&&#RPTOTF{z}>0,$,s),s))
IF(#RPFG==4||#RPFG==5||#RPFG==7||#RPFG==8,s,$)
C(3,#RP_IND,1,IF(#RpCode{i}==90||#RpCode{i}==91,$,CALL(#RPTOT_CAL{i})),$)
C(3,#RP_IND,1,IF(#RpCode{i}==90||#RpCode{i}==91,$,CALL(#RPTOT_DIS{i},6)),$)
C(3,#RP_IND,1,IF(#RpCode{i}==90||#RpCode{i}==91,$,s),$)
@IF(#RpAmt{i}>0,
  IF(#RPFG==1||#RPFG==2,
    IF(#RpCode{i}==90,C(3,#RpFacmNo{i},0,V(P,需有額度號碼，請先點選[未銷帳查詢]),$),$)
                      IF(#RpAmt{i}>#RPTOTF{z},V(P,#RpAmtComfirmB{i}),$),
    IF(#RPFG==6 && #RpCode{i}==91,C(3,#RpFacmNo{i},0,V(P,需有額度號碼，請先點選[未銷帳查詢]),$),$)
    ),IF(#DF1!={i},E(0,@RpCode{i},0)INVOKEJS(SHOW,grd9_{i},0),INVOKEJS(SHOW,grd9_{i},0)))
IF(#RPFG==3,IF(#RpAmt{i}>#RPTOTF,V(P,#RpAmtComfirmB{i}),IF(#RpAmt{i}<#RPTOTF && #DF5=={i},V(P,#RpAmtComfirmA{i}),$)),$)
CALL(#RPTOT_CAL{i})

! 戶號
#RpCustNo{i}=A,7,I
C(3,#RP_IND,0,S,$)
IF(#DF1<{i},E(0,#RpCustNo{z}),$)
IF(#DF1=={i},C(3,#RPFG,7,$,s),s)


! 額度號碼
#RpFacmNo{i}=A,3,I
C(3,#RP_IND,0,S,$)
C(3,#RPFG,2,s,$)
C(3,#RpCode{i},1,s,$)
IF(#DF1=={i},IF(#RPFG==3||#RPFG==7,
IF(#RpCode{i}==94 || #RpCode{i}==95 ,s,$),s),
IF(#GRD_SKFG{i}==1&&#RpAmt{i}>0,$,s))
@V(2,000)
IF(#RPFG==3||#RPFG==7,CALL(#RPTOT_DIS{i},6),s)

! 戶號
#RpBormNo{i}=A,3,S
C(3,#RP_IND,0,s,$)

#BIND_GRD_B{i}=X,1,S
BIND(#BTN_GRD_B{i},click, {cmd=CHAIN; ntxcd=L6071; ntxbuf=#BUF_GRD_B{i};ntxbuf5=type<-1:
RpRemitBank{i}<-OOBankCode:
RpRemitBranch{i}<-OOBranchCode:
RpRemitBankX{i}<-OOItem})

! 匯款帳號
#RpRemitAcctNo{i}=A,14,I
C(3,#RP_IND,0,s,$)
C(3,#RP_IND,2,$,C(3,#RP_IND,5,$,s))
C(3,#RpCode{i},91,s,$)
IF(#DF1=={i},$,IF(#GRD_SKFG{i}==1&&#RpAmt{i}>0,$,s))
@C(3,#RpRemitAcctNo{i},0,V(P,請輸入匯款帳號),C(4,#RpRemitBankX{i},V(P,請點選行庫資料查詢，選取匯款銀行),s))

! 匯款銀行
#RpRemitBank{i}=x,3,S
! C(3,#RP_IND,0,S,$)
! C(3,#RP_IND,2,$,C(3,#RP_IND,5,$,s))
! C(3,#RpCode{i},91,s,$)
! IF(#RPTYPZ==04||#RPTYPZ==11,T(2,@RpRemitBank{i},#PreBankCode),$)
! IF(#RPTYPZ==04||#RPTYPZ==11,s,$)
! IF(#DF1=={i},$,IF(#GRD_SKFG{i}==1&&#RpAmt{i}>0,$,s))
! @V(H,#RpBankHelp)

#RpRemitBranch{i}=x,4,S

! 匯款銀行(分行為空時改放此欄位)
#RpRemitBankTemp{i}=X,40,L

! 匯款分行
#RpRemitBankX{i}=X,40,L

! 明細序號
#RpDetailSeq{i}=A,6,I
C(3,#RP_IND,1,$,S)




! 入帳日期
#RpEntryDate{i}=D,7,I
IF(#RP_IND==1,$,S)

! 戶名
#RpCustName{i}=c,100,I
C(3,#RP_IND,0,S,$)
C(3,#RP_IND,2,$,C(3,#RP_IND,5,$,s))
C(3,#RpCode{i},91,s,$)
IF(#DF1=={i},$,IF(#GRD_SKFG{i}==1&&#RpAmt{i}>0,$,s))
@C(4,#RpCustName{i},V(P,請輸入戶名),$)
C(4,#RpCustName{i},s,T(2,@RP_AmlCheckName,#RpCustName{i}))


! 還款類別
#RpType{i}=A,2,S
C(3,#RP_IND,1,$,S)

! 還款類別中文
#RpTypeX{i}=X,50,L
C(3,#RP_IND,1,$,S)
SWITCH(#RpType{i},01,T(3,期款),
                  02,T(3,部分償還),
                  03,T(3,結案),
                  04,T(3,帳管費),
                  05,T(3,火險費),
                  06,T(3,契變手續費),
                  07,T(3,法務費),
                  09,T(3,其他),
                  T(3, ))

! 摘要
#NOTE{i}=X,60,L
C(3,#RP_IND,0,s,$)
C(3,#RP_IND,4,T(2,帳號:+#RP_CHQACT+ 票號:+#RP_CHQUENO+ 金額:+#RP_CHQUEAMTX),T(2,#RpNote{i}))
IF(#DF1=={i},$,IF(#GRD_SKFG{i}==1&&#RpAmt{i}>0,$,s))

! 附言
#RpRemark{i}=X,100,I
C(3,#RP_IND,0,S,$)
C(3,#RP_IND,2,$,C(3,#RP_IND,5,$,s))
C(3,#RpCode{i},91,s,$)
IF(#DF1=={i},$,IF(#GRD_SKFG{i}==1&&#RpAmt{i}>0,$,s))
@
! IF(#DF1<{i}&&#RP_IND==5,CALL(#RPTOT_DIS{i},6),$)
CALL(#RPTOT_DIS{i},6)

##end

#LABLE_TOT=X,4,L


! 收付記號DECIMAL(1)
! 1:應收2:應付
#RpFlag=A,1,S
C(3,#RP_IND,0,s,$)
IF(#RPFG==1||#RPFG==2||#RPFG==8,E(0,1),E(0,2))

! -------------------------RpDetail-------------------------
##loop {times:5,i:1}
! 業務科目 Ex.P01 整批 or 其他來源建檔 抓取AcReceivable 會計銷帳檔
#RpAcctCode{i}=X,3,S
IF(#RPFG==1||#RPFG==2,$,s)
IF(#RpCode{i}< 90,$,s)

! 會科科目 其他來源建檔(09) (8+5+2) AcNoCode+AcSubCode+AcDtlCode 同上
#RpAcCode{i}=X,15,S

! 銷帳編號
! 1).來源：
! 2).去處：支票    :帳號(9)+" "+票號(7)
!          其他來源:自行交易登打(12)
#RpRvno{i}=X,30,S
C(3,#RP_IND,4,T(2,#RP_CHQACT+ +#RP_CHQUENO),$)

! 摘要代號----撥款
! 0001	現金存入
! 0002	現金存沖(現金存入沖)
! 0071	匯入匯款
! 0087	ＡＴ存入
! 0148	轉帳
! 0201	FEDI跨轉
! 1009	更正轉帳
! 1152	語音自轉
! 1346	ＡＴ繳費
! 1416	ＡＴ自收
! 1417	ＡＴ跨收
! 1417	跨行存款
! 1424	行動自收
#RpDscpt{i}=X,4,S

! 摘要 SlipNote傳票摘要
! 1).來源：ref.收付欄規格
! 2).去處：附言
#RpNote{i}=c,80,S
T(2,#NOTE{i})

! 收款戶名
#RpRemitNm{i}=c,100,S
C(3,#RPFG,4,#RpCustName{i},$)
C(3,#RPFG,5,#RpCustName{i},$)

##end



#RP_BatchNo=X,6,S
T(2,@BATCHNO,#RP_BatchNo)

#RP_AcDate=D,7,S

</RPCOL.dec>


<RPDTL.tim>

#RpFlag
##loop {times:5,i:1}
#RpCode{i}
#RpAmt{i}
#RpAcctCode{i}
#RpAcCode{i}
#RpCustNo{i}
#RpFacmNo{i}
#RpBormNo{i}
#RpRemitBank{i}
#RpRemitBranch{i}
#RpRemitAcctNo{i}
#RpDetailSeq{i}
#RpEntryDate{i}
#RpCustName{i}
#RpRemark{i}
#RpRvno{i}
#RpDscpt{i}
#RpNote{i}
#RpRemitNm{i}
#RpType{i}
##end
#OverRpFg
#OverRpAmt
#OverRpFacmNo
#RP_BatchNo
#RP_AcDate


</RPDTL.tim>

<RPDTL.tom>
<include src="ROM.icf::L4R14.tom"/>
</RPDTL.tom>
