<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
	<property name="ITX_BASE_LOG" value="/home/weblogic/itxDoc/itxWrite/iTXlog/" />

	<appender name="siftInfo" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator class = "com.st1.itx.config.TaskContextBasedDiscriminator"/>
		<sift>
			<appender name="FILE-${userId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<append>true</append>
				<encoder charset="UTF-8">
					<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger{35} - %msg%n</pattern>
				</encoder>

				<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
					<fileNamePattern>${ITX_BASE_LOG}iTX-%d{yyyy-MM-dd}-${userId}-%i.log</fileNamePattern>
					<maxFileSize>48MB</maxFileSize>
					<maxHistory>10</maxHistory>
					<totalSizeCap>20GB</totalSizeCap>
				</rollingPolicy>

				<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
					<level>INFO</level>
				</filter>
			</appender>
		</sift>
	</appender>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 1. 輸出SQL 到控制檯和檔案
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="siftInfo" />
	</logger>
    -->


	<!-- 2. 輸出SQL 的引數到控制檯和檔案
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false" level="TRACE">
		<level value="TRACE" />
		<appender-ref ref="siftInfo" />
	</logger>
    -->

	<!-- Strictly speaking, the level attribute is not necessary since -->
	<!-- the level of the root level is set to DEBUG by default. -->
	<!-- 非同步输出 -->
	<appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
		<!-- 不丟失日志.默認的,如果隊列的80%已滿,則會丟棄TRACT、DEBUG、INFO級別的日志 -->
		<discardingThreshold>0</discardingThreshold>
		<!-- 更改默認的隊列的深度,該值會影響性能.默認值為256 -->
		<queueSize>256</queueSize>
		<!-- 添加附加的appender,最多只能添加一個 -->
		<appender-ref ref ="siftInfo"/>
	</appender>

	<root level="INFO">
		<appender-ref ref="siftInfo" />
		<appender-ref ref="console" />
	</root>
</configuration>
